<div class="header" id="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading">LOGO</a>
        <ul class="pure-menu-list">
        <li class="{{#if activeIndex}}pure-menu-selected{{/if}} pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
        <li class="{{#if activeFavorites}}pure-menu-selected{{/if}} pure-menu-item"><a href="/favorites" class="pure-menu-link">Favorites</a></li>
        <li class="pure-menu-item">
            <label class="pure-menu-link" for="modal" id="logInLabel">Log In</label>
        </li>
        </ul>
    </div>
</div>