{{#> navbar activeFavorites=true}}{{/navbar}}
<div class="content">
    <table>
        <tr class="header">
            <td></td>
            <td class="name-td">Name</td>
            <td></td>
            <td></td>
        </tr>
        <tr class="template">
            <td><span class="name-index"></span></td>
            <td class="name-td"></td>
            <td></td>
            <td class="right-align">
                <i class="fa fa-share-alt share-button"></i>
                <i class="fa fa-heart favorite-button favorited"></i>
            </td>
        </tr>
    </table>
</div>