{{#> navbar activeHistory=true}}{{/navbar}}
<div class="content">
    <table>
        <tr class="header">
            <td></td>
            <td class="name-td">Name</td>
            <td></td>
            <td></td>
        </tr>
        <tr class="female-row">
            <td>1</td>
            <td class="name-td">Jill</td>
            <td>
                <i class="fa fa-venus"></i>
            </td>
            <td class="right-align">
                <i class="fa fa-share-alt share-button"></i>
                <i class="fa fa-heart favorite-button" data-id=""></i>
            </td>
        </tr>
        <tr class="male-row">
            <td>2</td>
            <td class="name-td">John</td>
            <td>
                <i class="fa fa-mars"></i>
            </td>
            <td class="right-align">
                <i class="fa fa-share-alt share-button"></i>
                <i class="fa fa-heart favorite-button favorited" data-id="7"></i>
            </td>
        </tr>
    </table>
</div>