{{#> navbar activeFavorites=true}}{{/navbar}}
<div class="content">
    <h1>Favorites</h1>
    <table id="favoriteTable">
        <tr id="loadingRow">
            <td colspan="4">Loading...</td>
        </tr>
        <tr class="template">
            <td><span class="name-index"></span></td>
            <td class="name-td"></td>
            <td class="gender-td">
                <i class="fa fa-venus"></i>
                <i class="fa fa-mars"></i>
            </td>
            <td class="right-align">
                <i class="fa fa-heart favorite-button favorited"></i>
            </td>
        </tr>
    </table>
</div>
<script>
  const getCookie = function(c_name) {
    if (document.cookie.length > 0) {
        let c_start = document.cookie.indexOf(c_name + "=");
        if (c_start !== -1) {
            c_start = c_start + c_name.length + 1;
            let c_end = document.cookie.indexOf(";", c_start);
            if (c_end === -1) {
                c_end = document.cookie.length;
            }
            return unescape(document.cookie.substring(c_start, c_end));
        }
    }
    return "";
  }

  const getUserId = function() {
    const userId = getCookie("userId");
    const userIdExists = userId.length > 0 && userId !== "undefined";
    return userIdExists ? userId : void 0;
  };
    const populateFavorites = function(favorites) {
        document.getElementById("loadingRow").remove();
        const template = document.getElementsByClassName("template")[0];
        for (let i = 0; i < favorites.length; i++) {
            const favorite = favorites[i];
            const templateClone = template.cloneNode(true);
            templateClone.classList.remove("template");
            templateClone.getElementsByClassName("name-td")[0].innerText = favorite.name;
            if (favorite.gender) {
                templateClone.getElementsByClassName("fa-mars")[0].remove();
                templateClone.classList.add("female-row");
            } else {
                templateClone.getElementsByClassName("fa-venus")[0].remove();
                templateClone.classList.add("male-row");
            }
            templateClone.getElementsByClassName("favorited")[0].setAttribute("data-id", favorite.id);
            document.getElementById("favoriteTable").append(templateClone);
        }
    }
    fetch("/api/names/" + getUserId())
    .then(res => res.json())
    .then(favorites => populateFavorites(favorites));
</script>