{{#> navbar activeIndex=true}}{{/navbar}}
<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Babies, Boats, & Brands</h1>
        <p class="splash-subhead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <p>
            <label class="pure-button button-secondary" for="modal">Get Started</label>
        </p>
    </div>
</div>