{{#> navbar activeIndex=true}}{{/navbar}}
<div class="splash-container">
<div class="splash">
<h1 class="splash-head">
  <form id="searchForm">
<div class="search">
<input type="text" class="searchTerm" name="term" placeholder="Meaning">
<select id="searchSelect" name="gender">
  <option value="all">-</option>
  <option value="male">♂</option>
  <option value="female">♀</option>
</select>
<button type="submit" class="searchButton">
<i class="fa fa-search"></i>
</button>
</div>
</form>
</h1>
<p class="splash-subhead">
  Your baby is unique, naming your newborn paves the way to who they will grow into.
</p>
<p id="getStartedContainer">
<label class="pure-button button-secondary" for="modal">Get Started</label>
</p>
</div>
</div>