{{#> navbar activeResults=true}}{{/navbar}}
<div class="content">
    <table>
        <tr class="header">
            <td></td>
            <td class="name-td">Name</td>
            <td></td>
            <td></td>
        </tr>
        {{#each this}}
        {{#if gender}}<tr class="female-row">
        {{else}}<tr class="male-row">{{/if}}
            <td><span class="name-index"></span></td>
            <td class="name-td">{{name}}</td>
            <td>
                {{#if gender}}<i class="fa fa-venus"></i>
                {{else}}<i class="fa fa-mars"></i>{{/if}}
            </td>
            <td class="right-align">
                <i class="fa fa-share-alt share-button"></i>
                <i class="fa fa-heart favorite-button"></i>
            </td>
        </tr>
        {{/each}}
    </table>
</div>