.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
  transition: opacity .25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 33%;
  margin: auto;
  overflow: auto;
  background: #538fe3;;
  border-radius: 5px;
  padding: 1em 2em;
  height: 33%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
  padding: 10px;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .modal__inner {
    width: 50%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 400px) {
  .modal__inner {
    width: 67%;
    box-sizing: border-box;
  }
}

body {
  padding: 1%;
  font: 1/1.5em sans-serif;
  text-align: center;
}

p img {
  max-width: 200px;
  height: auto;
  float: left;
  margin: 0 1em 1em 0;
}

.modal input, .modal button {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 10px 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
}

.modal input::placeholder, .modal h1, .modal input, .modal button {
  color: #f6f6f6;
  text-align: center;
}

.modal h1 {
  margin: 0;
  margin-bottom: 10px;
}