body {
  counter-reset: section;
  background-color: #6acdff;
}
.content {
  color: #f6f6f6;
  font-size: 1.5em;
  margin: auto;
  margin-top: 25px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 50%;
}
#header .pure-menu-selected a,
#header .pure-menu-selected a:hover {
  color: #f6f6f6;
  cursor: unset;
}
#header .pure-menu-link {
  color: #6fbef3;
}
#header .pure-menu-link:hover {
  background-color: unset;
  color: #aecfe5;
  cursor: pointer;
}
.button-secondary {
  color: #0c588b;
}
table {
  text-align: left;
  width: 100%;
  margin-left: 0%;
  background-color: #3d5c80;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

tr.header {
  border-bottom: 2px solid #f6f6f6;
}
tr.female-row:hover {
  background: linear-gradient(
    to right,
    transparent,
    10%,
    #e35372,
    45%,
    #e35372,
    55%,
    #e35372,
    90%,
    transparent
  );
}
tr.female-row:hover .fa-venus,
tr.male-row:hover .fa-mars {
  color: #222222;
}
tr.male-row:hover {
  background: linear-gradient(
    to right,
    transparent,
    10%,
    #538fe3,
    45%,
    #538fe3,
    55%,
    #538fe3,
    90%,
    transparent
  );
}
td {
  width: 12.5%;
  padding-top: 5px;
  padding-bottom: 5px;
}
td.name-td {
  width: 62.5%;
}
.right-align {
  text-align: right;
}
.favorite-button.favorited {
  color: #bf0a30;
}
.favorite-button,
.share-button {
  font-size: 1em;
}
.favorite-button:hover,
.share-button:hover {
  opacity: 0.75;
  cursor: pointer;
}
.fa-mars {
  color: #538fe3;
}
.fa-venus {
  color: #e35372;
}
#notificationContainer,
#errorContainer {
  position: fixed;
  z-index: 5;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
#notificationDiv {
  background-color: #4bb543;
  border-color: 3px solid #f6f6f6;
}
#errorDiv {
  background-color: #d8000c;
  border-color: 3px solid #f6f6f6;
}
#notificationDiv,
#errorDiv {
  position: relative;
  bottom: -100px;
  right: 3px;
  color: #f6f6f6;
  padding: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out, bottom 1s ease-in-out;
  font-size: 16px;
  border-radius: 10px;
  margin: 10px;
}
#notificationDiv.show,
#errorDiv.show {
  opacity: 1;
  bottom: 3px;
}
.name-index::before {
  counter-increment: section;
  content: counter(section);
}
.template {
  display: none;
}
td:first-child {
  padding-left: 5px;
}
td:last-child {
  padding-right: 5px;
}
#water {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.pure-menu-heading {
  padding: 0;
  line-height: 0;
}
.pure-menu-heading img {
  height: 30px;
}
#loadingRow td {
  text-align: center;
  padding: 20px;
}

@media (min-width: 48em) {
  table {
    width: 80%;
    margin-left: 10%;
  }
  #notificationDiv,
  #errorDiv {
    font-size: 20px;
  }
  .home-menu .pure-menu-heading img {
    height: 40px;
  }
}
